body{
	box-sizing: border-box;
	font-family:'Asap';
	color: #292728;
	
	background-color: #FBF8FB;
}
h2{
	margin: 0;
	font-size: 16px;
}
h1{
	margin: 0;
	font-size: 16px;
}

/*CSS du menu : titre et profil utilisateur*/
.menu{
	display: flex;
	background-color: white;
	border-bottom: 1px solid #EFEFEE;
	align-items: center;
	color: #9E999C;
	font-size: 10px;
	
}
.title{
	flex:auto;
	display: flex;
	align-items: center;
	align-self: flex-start;
	height: auto;
	padding:40px 20px;
}
.logo{
	padding-right: 16px;
	width: 50px;
	height: 50px;
}
.utilisateur{
	display: flex;
	align-items: center;
	border-left:1px solid #EFEFEE;
	padding:40px 20px;
	
}
.avatar{
	border-radius: 50%;
	width: 50px;
}

/*ajout bulle notification*/

.bullenotif{
	padding-right: 16px;
	position: relative;
}
.bullenotif::after{
	content:"3";
	position: absolute;
	right: 0;
	bottom: -8px;
	height: 24px;
	width: 24px;
	background-color:#026AD1;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
.notif{
	display: flex;
	padding:40px 20px;
	border-top: 1px solid #EFEFEE;
	border-left: 1px solid#EFEFEE;
	flex-direction: column;
	font-size: 16px;
}
/*titre*/

.container{
	margin: auto;
	max-width: 800px;
	padding: 0 20px;
}
.main {
	padding: 40px 0;
}
.main__title{
	font-size: 40px;
	font-weight: normal;
	padding-bottom: 20px;
}
.main__sub-title{
	color: #B4B4B4;
}

/*cartes*/

.carte{
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
	border:1px solid #FBF8FB;
	padding: 40px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.carte__cercle{
	
	flex-direction: row;
	background-color:#E5EFF5;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.carte__icone{
	display: flex;
	align-self: center;
	flex-direction: row;
	width: 50px;
	height: 50px;
}
.contenu{
	flex: auto;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}
.contenu__main_title{
	font-size: 32px;
	padding-bottom: 8px;
}
.contenu__sub-title{
	color: #B4B4B4;
}
.carte__cercle2{
	flex-direction: row;
	background-color:#FEE0DF;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}

/*responsive*/

@media(max-width: 600px){
	.menu{
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-right: 20px;
		padding-left: 20px;

	}
	.profil_utilisateur{
		border: 0;
	}
	.container{
		flex-direction: column;
		text-align: center;
	}
	.carte__cercle, .carte__cercle2 {
		margin-bottom: 20px;
	}
	.carte{
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
	}

}

